<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebInsight</title>

    <!-- Add custom CSS here -->
    <link href="stylesheets/landing-page.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://webinsight.co"><%= image_tag("logo_small.png") %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#contact">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">
    <div class="">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message"">
						<div class="pull-left intro-text-left" style="">
							<h1>Don't Let Your Visitors Get Lost</h1>
							<h3 class="pull-left">Retain visitors. Get conversions.</h3>
							<div class="div-landing-page-learn">
							<a class="btn btn-primary btn-landing-page scroller"  data-el="#benefit">
								Learn More
							</a>
							
							<a class="btn btn-warning btn-landing-page small-spacing scroller" data-el="#notify">
								Get Notified
							</a>
							</div>						
						</div>
						<div class="pull-left" style="width: 500px; padding-left:50px;">
							 <% # image_tag("widget_pic.png", "class" => "img-responsive landing-image-top") %>                   
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
	</div>
    </div>
    <!-- /.intro-header -->
	<a id="benefit"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    
                    <h2 class="section-heading"> Guide Visitors </h2>
                    
                    <p class="lead">
                    	Have an ongoing conversation with your visitors, even when you're not around.
                    	WebInsight analyzes your web traffic via Google Analytics and determines key points where visitors leave your site.
                    	We'll suggest customizable actions based on past user behaviors and they'll be shown as conversation 
                    	options to visitors if they stay on these points after some time.                    	
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2-custom col-sm-6">
                <%= image_tag("widget_pic_shop.png", "class" => "img-responsive landing-widget-full") %>                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Improve Conversion </h2>
                    <p class="lead"> 
                    	Want more sign-ups for your email newsletter? More visitors to start shopping? 
                    	Place your offers as options at perfect spots to improve these conversion goals.
                    	WebInsight will show you where and how.	
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <%= image_tag("widget_email_signup.png", "class" => "img-responsive") %>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Plug-&-Play Simplicity</h2>
                    <p class="lead">
                    	Automated traffic analysis and curated options means no worries about what and where to place help messages.
                    	Get up and running in minutes and see results from day one.
                	</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2-custom col-sm-6">
                <%= image_tag("webinsight_analysis.png", "class" => "img-responsive landing-widget-full") %>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Follow Us For More</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li><a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


	<div class="intro-message" style="padding-top:5%;background-color:orange; height: 500px; width: 100%;color:white;text-align:center;">
		<h1>Like What You See?</h1>
		<h3>Be The First To Know When we Launch</h3>
		<br />
		<div class="container" style="width: 33%;">
			<form action="MAILTO:chinsiongk@gmail.com" method="post" enctype="text/plain">
				<input type="email" placeholder="Enter Your Email Here..." class="form-control pull-left" style="width:80%;border-radius:0px"></input>
				<input type="submit" value="Notify Me" class="btn btn-success pull-left" style="border-radius:0px"></input>
			</form>
		</div>
	</div>
	<a id="notify"></a>
        
        
    <footer>        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#signup">SignUp</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; WebInsight 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>

    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

	<script type="text/javascript">
	function ScrollPage(e)
	{
	   // Get the data attribute for the element
	   var objEl = $(this).data("el");
	   // Get the element we're internally scrolling for
	   var scrollEl = $(objEl);
	   if(scrollEl.length > 0)
	   {
		   // Don't follow the link
		   e.preventDefault();
		   $('body, html').animate({
			   scrollTop: scrollEl.position().top - 40
			   // I subtract 40 so it's not hugging the top of the page
		   }, 600);
		   // Change this number to change the scroll speed
	   }
	}
	
	$(function ()
	{
		$(".scroller").on("click", ScrollPage);
	});
	</script>
</body>

</html>
